<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://3472-18664.el-alt.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://wdeploy.everleap.com:8172</MSDeployServiceURL>
    <DeployIisAppPath>3472-18664</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>3472-18664\003472</UserName>
    <_SavePWD>True</_SavePWD>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DbEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:s05.everleap.com;Initial Catalog=DB_3472_nest;Integrated Security=False;User ID=DB_3472_nest_user;Password=dadsmagaav" Name="Data Source=tcp:s05.everleap.com;Initial Catalog=DB_3472_nest;User ID=DB_3472_nest_user;Password=dadsmagaav;Integrated Security=False;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="piquedo.Models.DbEntities, piquedo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:s05.everleap.com;Initial Catalog=DB_3472_nest;Integrated Security=False;User ID=DB_3472_nest_user;Password=dadsmagaav" Name="Data Source=tcp:s05.everleap.com;Initial Catalog=DB_3472_nest;User ID=DB_3472_nest_user;Password=dadsmagaav;Integrated Security=False;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="piquedo.Models.ApplicationDbContext, piquedo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.DataModel.csdl|res://*/Models.DataModel.ssdl|res://*/Models.DataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:s05.everleap.com;Initial Catalog=DB_3472_nest;User ID=DB_3472_nest_user;Password=dadsmagaav;Integrated Security=False;"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:s05.everleap.com;Initial Catalog=DB_3472_nest;User ID=DB_3472_nest_user;Password=dadsmagaav;Integrated Security=False;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>