
canvas {
    display: block;
  
}
/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    -ms-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
}



@keyframes fadein {
    from {
        opacity: 0;

    }


    to {
        opacity: 1;

    }
}

.autoFadeIn :nth-child(2)) {
    -moz-animation: fadein 3s;
    -o-animation: fadein 3s;
    -webkit-animation: fadein 3s;
    -ms-animation: fadein 3s;
    animation: fadein 3s;
   
}

