@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,100,100italic,400italic,500,500italic,700,700italic&subset=latin,cyrillic);



/* Base */

body {
	  
	-webkit-font-smoothing: antialiased;
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 0px;  
}

/* Navigation*/

.navbar { background-color: transparent; }

.top-nav-collapse { background-color: #304a74; }

footer.page-footer { background-color: #304a74; }

@media only screen and (max-width: 768px) {
	.navbar { background-color: #4285F4; }
}

.scrolling-navbar {
	-moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
	-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
	transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.StdBg {
	background: #00d2ff; 

	background: radial-gradient(circle at top, #6ab1ef, #3190ea) no-repeat; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.scard {
	background: #fff;
	border-radius: 5px;
	display: inline-block;
	height: 200px;
	margin: 1rem;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 300px;
}



.scard:hover { box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.scard:active {
	box-shadow: 0 0px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.1s cubic-bezier(.25, .8, .25, 1);
}


.supercard {
	background: #fff;
	border-radius: 5px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.listingCard {
	box-shadow: 0 1px 3px
				rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	height: 220px;
	margin-top: 2rem;
	min-width: 340px;
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	width: 100%;
}

.listingCard:hover { box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.listingCard:active {
	box-shadow: 0 0px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.1s cubic-bezier(.25, .8, .25, 1);
}


.category {
	background: #FE5621;
	border-radius: 0px;
	box-shadow: 0 1px 3px
				rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	color: #FFF;
	display: inline-block;
	font-size: 0.75rem;
	font-weight: 600;
	letter-spacing: 0.075rem;
	margin: 0 0 10px;
	padding: 5px 6px;
	text-transform: uppercase;
}

.listingCategory {

	border-radius: 2px;
	cursor: pointer;
	left: 10px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	text-align: center;
	top: 10px;
}

.listingTitle {
	color: #444;
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.75rem;
	margin: 0 0 10px;
	max-height: 3.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
}


.supercard p {
	color: rgba(0, 0, 0, .5);
	font-size: 16px;
	height: 82px;
	line-height: 22px;
	margin: 10px 10px 10px 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.supercard .act {
	float: right;
	margin-right: 15px;
	padding: 8px 0;
	position: absolute;
	right: 0;
	top: 76%;
}

.supercard .footnote {

	color: rgba(0, 0, 0, .5);
	display: inline-block;
	font-weight: 500;
}

.supercard .button {
	color: #00a5ef;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	font-weight: 500;
	padding: 12px 10px;
	text-transform: uppercase;
}

.tagBar { margin-top: -12px; }

.tag {
	background: rgba(0, 0, 0, .4);

	border-radius: 3px;
	box-shadow: 0 1px 3px
				rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-size: 0.6rem;
	font-weight: 600;
	letter-spacing: 0.075rem;
	margin: 0 0 0;
	padding: 2px 3px;
	text-transform: uppercase;
	transition: all 0.25s cubic-bezier(.25, .8, .25, 1);
}

.tag:hover {
	background: #FE5621;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25), 0 2px 1px rgba(0, 0, 0, 0.22);
}

.supercard-content {
	float: right;
	height: 200px;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	width: 68%;
}

.supercard-imgpane {
	float: left;
	height: 100%;
	position: relative;
	width: 30%;
}

.supercard-img {
	background-position: center center;
	background-size: cover;
	border-radius: 5px 0 0 5px;
	height: 100%;
}

.filterCard {

	box-shadow: 0 1px 3px
				rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	height: 500px;
	margin-top: 2rem;
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	width: 100%;    
}


/*gooooooooooooooooooooooo*/



.menu {
	-webkit-filter: url("#shadowed-goo");
	filter: url("#shadowed-goo");

	background: #ff4081;
	bottom: 120px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 20px;
	margin-top:-300px;
	right: -10px;
	padding-left: 80px;
	position: fixed;
	text-align: left;
	width: 150px;
	vertical-align: bottom;
	
}

.menu-item, .menu-open-button {
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform ease-out 200ms;
	background:  #ff4081;;
	border-radius: 100%;
	color: white;
	height: 60px;
	line-height: 80px;
	margin-left: -40px;
	position: absolute;
	text-align: center;
	top: 20px;
	transform: translate3d(0, 0, 0);
	transition: -webkit-transform ease-out 200ms;
	transition: transform ease-out 200ms;
	transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
	width: 60px;


}

.menu-open { display: none; }

.hamburger {
	-webkit-transition: -webkit-transform 200ms;
	background: white;
	display: block;
	height: 3px;
	left: 50%;
	margin-left: -10px;
	margin-top: -1.5px;
	position: absolute;
	top: 50%;
	transition: -webkit-transform 200ms;
	transition: transform 200ms;
	transition: transform 200ms, -webkit-transform 200ms;
	width: 20px;
}

.hamburger-1 {
	-webkit-transform: translate3d(0, -8px, 0);
	transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.hamburger-3 {
	-webkit-transform: translate3d(0, 8px, 0);
	transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
	-webkit-transform: translate3d(0, 0, 0) rotate(45deg);
	transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .hamburger-2 {
	-webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
	transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked + .menu-open-button .hamburger-3 {
	-webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
	transform: translate3d(0, 0, 0) rotate(-45deg);
}



.menu-item:hover {
	background: white;
	color: #ff4081;
}

.menu-item:nth-child(3) {
	-webkit-transition-duration: 180ms;
	transition-duration: 180ms;
}

.menu-item:nth-child(4) {
	-webkit-transition-duration: 180ms;
	transition-duration: 180ms;
}

.menu-item:nth-child(5) {
	-webkit-transition-duration: 180ms;
	transition-duration: 180ms;
}

.menu-item:nth-child(6) {
	-webkit-transition-duration: 180ms;
	transition-duration: 180ms;
}

.menu-open-button {
	-webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
	-webkit-transition-duration: 400ms;
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	cursor: pointer;
	transform: scale(1.1, 1.1) translate3d(0, 0, 0);
	transition-duration: 400ms;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	z-index: 2;
}

.menu-open-button:hover {
	-webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
	transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
	-webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
	-webkit-transition-duration: 200ms;
	-webkit-transition-timing-function: linear;
	transform: scale(0.8, 0.8) translate3d(0, 0, 0);
	transition-duration: 200ms;
	transition-timing-function: linear;
}

.menu-open:checked ~ .menu-item {
	-webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menu-open:checked ~ .menu-item:nth-child(3) {
	-webkit-transform: translate3d(0, -110px, 0);
	-webkit-transition-duration: 190ms;
	transform: translate3d(0, -110px, 0);
	transition-duration: 190ms;
}

.menu-open:checked ~ .menu-item:nth-child(4) {
	-webkit-transform: translate3d(0, -220px, 0);
	-webkit-transition-duration: 290ms;
	transform: translate3d(0, -220px, 0);
	transition-duration: 290ms;
}

.menu-open:checked ~ .menu-item:nth-child(5) {
	-webkit-transform: translate3d(0, -330px, 0);
	-webkit-transition-duration: 390ms;
	transform: translate3d(0, -330px, 0);
	transition-duration: 390ms;
}

.menu-open:checked ~ .menu-item:nth-child(6) {
	-webkit-transform: translate3d(0, -440px, 0);
	-webkit-transition-duration: 490ms;
	transform: translate3d(0, -440px, 0);
	transition-duration: 490ms;
}