body {
    padding-bottom: 20px;
    padding-top: 50px;
    
}


.StdBg {
    background: #00d2ff; 

    background: radial-gradient(circle at top, #6ab1ef, #3190ea) no-repeat; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}